<app-menu></app-menu>
<ng-template #deleteModal let-c="close" let-d="dismiss">

  <div class="modal-content" style="background-color: khaki;">
    <form (ngSubmit)="submit" #formControl="ngForm">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <!-- <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="id" [(ngModel)]="sms.id" #id="ngModel" hidden>
          <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="smsName" [(ngModel)]="sms.smsName" #smsName="ngModel" hidden>
          <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="smsDesc" [(ngModel)]="sms.smsDesc" #smsDesc="ngModel" hidden> -->
            <h5 style="color:green; text-align: center"> Are You Sure Want To Delete {{sms.smsName}}</h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row justify-content-center">
          <div class="col-sm-12" style="margin-right: 127px;">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteSms(sms)">Yes</button>
            <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>


<div class="container">
  <ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>

  <div *ngIf="!loginId.viewsmsDraftView && !loginId.addsmsDraftView" class="row" style="margin: 10%">
    <div class="col-md-8 offset-md-4">
      <h5 style="color:red">Sorry! You Have No Access To See</h5>
      <img src="../../assets/images/NO_ACCESS.jpg" />
    </div>
  </div>

  <!-- Instance Message Report -->
  <!--   *ngIf="USERSREPORT"  -->
  <div class="row" style="margin:10px" *ngIf="!AllMessage">
    <div class="col-sm-12">
      <div class="card h-100 text-black bg-secondary">
        <div class="card-header" style="text-align:center" *ngIf="loginId.addsmsDraftView || loginId.viewsmsDraftView">
          <!-- <div class="row"> -->
          <div class="row">
            <div class="col-sm-2   text-left">
              <i *ngIf="!AllMessage && loginId.addsmsDraftView" class="fa fa-plus-square" data-toggle="tooltip" title="Add Sms Template" style="color:green;font-size:30px;"
                (click)="addSmsTemplate()"></i>
            </div>
            <div class="col-sm-8 h5  text-center">
              Sms Template List
            </div>
            <div class="col-sm-2 text-right">
              <span class="badge badge-pill badge-danger  text-right;">{{numberOfData}} </span>
            </div>
          </div>

        </div>

        <div class="card-body" *ngIf="loginId.viewsmsDraftView">
          
          <div class="form-group row">
            <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
              <div class="col-sm-8 form-inline">
                <label for="limit" class="col-sm-1 col-sm-form-label form-control-sm "><b>Search:</b></label>

                <input type="text" class="form-control col-sm-3 form-control-sm" name="smsName" [(ngModel)]="filter.smsName" placeholder="Sms Name">
              </div>


              <div class="col-sm-2 form-inline">
                <label for="limit" class="col-sm-6 col-sm-form-label form-control-sm "><b>Limit:</b></label>
                <input type="number" class="form-control col-sm-6 form-control-sm" name="limit" [(ngModel)]="limit" min="1" [attr.max]="[numberOfData]"
                  step="1" placeholder="Limit">
              </div>
              <div class="col-sm-2 form-inline">
                <label for="page" class="col-sm-6 col-sm-form-label form-control-sm "><b>Page:</b></label>
                <input type="number" class="form-control col-sm-6 form-control-sm" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfData]"
                  step="1" placeholder="Page">
              </div>

            </div>
            <div class="col-sm-12" style="text-align:center;" *ngIf="deleteField">
                <h5 class="successmsg">Sms Deleted Successfully</h5>
              </div>
              <div class="col-sm-12" style="text-align:center;" *ngIf="authenticationError">
                <h5 class="errormsg">Something went wrong. Please try again !</h5>
              </div>

            <div class="table-responsive">
              <table class="table table-sm table-bordered table-hover" *ngIf="!noSMSCreated">
                <thead>
                  <tr class="table-info">
                    <th>Sr.No.</th>
                    <th>Sms Template</th>
                    <th>Description</th>
                    <!-- <th>Voice File</th> -->
                    <th>Created BY</th>
                    <th>Created Date</th>
                    <th *ngIf="loginId.modifysmsDraftView || loginId.deletesmsDraftView">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-info" *ngFor="let sms of smsList | datafilter:filter | slice:(page-1)*limit:page*limit;let ind=index;">
                    <td>{{ind+1}}</td>
                    <td>{{sms.smsName}}</td>
                    <td>{{sms.smsDesc}} </td>
                    <!-- <td>{{sms.fileName}}</td> -->
                    <td>{{sms.loginId.loginId}}</td>
                    <td>{{sms.createDate | date:'medium'}}</td>

                    <td *ngIf="loginId.modifysmsDraftView || loginId.deletesmsDraftView">

                      <i *ngIf="loginId.modifysmsDraftView" class="fa fa-pencil-square-o" data-toggle="tooltip" title="Update SMS" style="color:green;font-size:20px;"
                        (click)="OpenModel(sms,updateModal)"></i>
                      &nbsp; &nbsp;
                      <!-- <i *ngIf="loginId.deletesmsDraftView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete SMS" style="color:red;font-size:20px;"
                        (click)="deleteSms(sms)"></i> -->
                      <i *ngIf="loginId.deletesmsDraftView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete SMS" style="color:red;font-size:20px;"
                        (click)="open(sms,deleteModal)"></i>

                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

          <div class="row" *ngIf="noSMSCreated">

            <div class="col-sm-12" style="text-align:center;">
              <img src="../../assets/images/not-found.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
<div class="row justify-content-center" *ngIf="AllMessage">
  <div class="col-9">
    <div class="card" style="margin-top:20px;">
      <div class="card-header" *ngIf="loginId.viewsmsDraftView || loginId.addsmsDraftView">
        <h5 style="text-align:center;">Sms Template
          <div class="float-right">
            <i  class="fa fa-eye" style="color:indigo; font-size:20px;" (click)="viewSmsList()" data-toggle="tooltip"
              title="view sms"></i>
          </div>
        </h5>

      </div>

      <div *ngIf="loginId.addsmsDraftView">
        <div class="card-body">
          <div style="text-align: center;" *ngIf="successField">
            <h5 class="successmsg">
              Sms Saved Successfully!
            </h5>
          </div>
          <div style="text-align: center;" *ngIf="authenticationError">
            <h5 class="errormsg">Something went wrong. Please try again!</h5>
          </div>
          <!-- <form (ngSubmit)="smsForm.form.valid && saveSms()" #smsForm="ngForm"  nonvalidate> -->
          <form novalidate (ngSubmit)="onSubmit()" #smsForm="ngForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label for="example-message-input" class="col-sm-4 col-form-label-sm col-form-label-mr-3">Message Name
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="col-sm-6" [ngClass]="{ 
                        'has-error': smsName.invalid && (smsName.dirty || smsName.touched),
                        'has-success': smsName.valid  && (smsName.dirty || smsName.touched)}">
                    <input class="form-control form-control-sm" type="text" name="smsName" [(ngModel)]="sms.smsName" #smsName="ngModel" 
                      required>

                    <div class="form-control-feedback" *ngIf="smsName.errors && (smsName.dirty || smsName.touched)">
                      <p *ngIf="smsName.errors.required">Message is required.</p>
                      <!-- <p *ngIf="smsName.errors.pattern">Invalid Name.</p> -->
                    </div>
                  </div>
                </div>


                <!-- <div class="form-group row">
                  <label for="example-text-input" class="col-sm-4 col-form-label-sm col-form-label-mr-3">
                    Upload Voice File

                  </label>
                  <div class="col-sm-6">
                    <input type="file" (change)="onTextFileChange($event)" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="fileName"
                      [(ngModel)]="sms.fileName" #fileName="ngModel">
                  </div>
                </div> -->
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-4 col-form-label-sm form-control-mr-3">
                    Description
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="col-sm-8" [ngClass]="{ 
                        'has-error': smsDesc.invalid && (smsDesc.dirty || smsDesc.touched),
                        'has-success': smsDesc.valid  && (smsDesc.dirty || smsDesc.touched)}">
                    <textarea put class="form-control form-control-sm" rows="4" name="smsDesc" [(ngModel)]="sms.smsDesc" #smsDesc="ngModel" 
                       required></textarea>
                    <!-- <p class="instruction">For GSM numbers 1 SMS is counted by 160, while for Reliance numbers 1 SMS is counted by 140 Characters 
                          Special characters are not allowed :
                          </p> -->
                    <div class="form-control-feedback" *ngIf="smsDesc.errors && (smsDesc.dirty || smsDesc.touched)">

                      <p *ngIf="smsDesc.errors.required">Description is required.</p>
                      <!-- <p *ngIf="smsDesc.errors.pattern">Invalid Name.</p> -->
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="row justify-content-center">
              <div style="margin:10px;">
                <button class="btn btn-sm btn-success mt-2 mt-sm-0" [disabled]="smsForm.invalid"> Save </button>

              </div>


            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-----------------------------------------------------  user edit model---------------------------------------- -->
<ng-template #updateModal>

  <div class="modal-content ">
    <div class="modal-header " style="background-color:lightblue;">
      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->

      <h5 class="modal-title pull-left">Update User </h5>

      <button type="button" class="close pull-right" aria-label="Close" style="color:red;font-size:30px;" (click)="closeModel()">
        <span aria-hidden="true">&times;</span>
      </button>


    </div>
    <div class="modal-body">
      <div class="row text-center">
        <div *ngIf="successEdit">
          <h5 class="successmsg" style="margin-left: 130px;">Sms Updated Successfully !</h5>
        </div>
        <div *ngIf="authenticationError">
          <h5 class="errormsg" style="margin-left: 130px;">Something went wrong. Please try again !</h5>
        </div>
      </div>

      <form (ngSubmit)="submit" #formControl="ngForm">

        <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="id" [(ngModel)]="sms.id" #id="ngModel"
          hidden>


        <div class="form-group row">
          <label class="col-sm-3 col-form-label-sm col-form-label-mr-3">Sms Name : </label>
          <div class="col-sm-6" [ngClass]="{ 
                            'has-error': smsName.invalid && (smsName.dirty || smsName.touched),
                            'has-success': smsName.valid  && (smsName.dirty || smsName.touched)}">
            <input type="text" class="form-control form-control-sm" name="smsName" [(ngModel)]="smsDraft.smsName" #smsName="ngModel"
               required>
            <div class="form-control-feedback" *ngIf="smsName.errors && (smsName.dirty || smsName.touched)">
              <p *ngIf="smsName.errors.required">Message is required.</p>
              <!-- <p *ngIf="smsName.error.pattern">Invalid Message</p> pattern="^[a-zA-Z0-9_@ ]*$" -->
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label-sm col-form-label-mr-3">Description : </label>
          <div class="col-sm-6" [ngClass]="{ 
                            'has-error': smsDesc.invalid && (smsDesc.dirty || smsDesc.touched),
                            'has-success': smsDesc.valid  && (smsDesc.dirty || smsDesc.touched)}">
            <input type="text" class="form-control form-control-sm" name="smsDesc" [(ngModel)]="smsDraft.smsDesc" #smsDesc="ngModel"
               required>
            <div class="form-control-feedback" *ngIf="smsDesc.errors && (smsDesc.dirty || smsDesc.touched)">
              <p *ngIf="smsDesc.errors.required">Description is required.</p>
              <!-- <p *ngIf="smsDesc.error.pattern">Invalid Description.</p>pattern="^[a-zA-Z-,.()/ ]*$" -->
            </div>
          </div>
        </div>
        <!-- <div class="form-group row">
          <label class="col-sm-3 col-form-label-sm col-form-label-mr-3">
            Upload Voice File :

          </label>
          <div class="col-sm-6">
            <input type="file" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="fileName" [(ngModel)]="smsDraft.fileName"
              #fileName="ngModel">

          </div>
        </div> -->



        <div class="form-group" style="text-align:center">
          <button type="button" class="btn btn-info btn-sm" [disabled]="!formControl.valid" (click)="updateSms()">update</button>

        </div>

      </form>

    </div>
  </div>
</ng-template>