.mat-header-row, .mat-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
}



.mat-header-row, .mat-row {
    border-bottom-color:black;
}



.mat-header-row {
    min-height: 40px;
    background-color: lightblue;

}


.mat-sort-header-button {
    border: none;
    background: 0 0;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 12cm;
    outline: 0;
    color: black;
   
}

.jumbotron{
    margin:0px;
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 1px;
    border-color: rgb(255, 240, 240);
    background-color: lightblue;
}


.false{background-color: rgb(250, 221, 221);
    border:solid rgb(235, 232, 232) 1px;
}
.true{
    border:solid rgb(235, 232, 232) 1px;
}

/* .hdfont{
    font-weight: 900;
} */