<app-menu></app-menu>

<div class="container">

  <div class="row" style="padding:20px">

    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card  border-primaryg-info text-black">
        <div class="card-header">
          <h6 class="card-title" class="text-center"> Instant Report </h6>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label form-control-sm"> Mobile No
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-5">
                <input class="form-control form-control-sm" type="text">
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label form-control-sm"> From
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-5">
                <input class="form-control form-control-sm" type="date">
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label form-control-sm"> To
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-5">
                <input class="form-control form-control-sm" type="date">
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label form-control-sm">
                Message
                <br> (Type)
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-5">
                <select class="custom-select custom-select-sm">
                  <option selected>Choose One...</option>
                  <option value="1">Yss 1</option>
                  <option value="2">Yss 2</option>
                  <option value="3">yss 2</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label form-control-sm">
                Message
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-5">
                <textarea put class="form-control form-control-sm"></textarea>
              </div>
            </div>




            <div class="row justify-content-center">
              <div class="col-3">
                <button class="btn btn-default btn-sm btn-block"> Search </button>
              </div>

            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>