<app-menu>
</app-menu>
<div class="container">
  <div class="row" style="padding:20px">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h5 style="text-align:center">Upload Voice File </h5>
        </div>

        <div class="card-body">
          <form action="/html/tags/html_form_tag_action.cfm" class="">
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                SMS Draft
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-6">
                <select class="custom-select custom-select-sm">
                  <option selected>Choose One...</option>
                  <option value="1">Yss 1</option>
                  <option value="2">Yss 2</option>
                  <option value="3">yss 2</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                Upload Voice File
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-6">
                <input type="file" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" id="first_name" name="first_name">
              </div>
            </div>


          </form>
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="table-responsive">
      <table class="table table-sm table-hover table-bordered">
        <thead>
          <tr>
            <th style="text-align: center;">id</th>
            <th style="text-align: center;">Msg Name</th>
            <th style="text-align: center;">Msg Description</th>
            <th style="text-align: center;">Voice File</th>
            <th style="text-align: center;">User</th>
            <th style="text-align: center;">Update/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center;">ddddddd</td>
            <td style="text-align: center;">ddddddd</td>
            <td style="text-align: center;">ddddddd</td>
            <td style="text-align: center;">ddddddd</td>
            <td style="text-align: center;">ddddddd</td>

            <td style="text-align: center;">
              <a href="addLocation" class="card-link" data-toggle="tooltip" title="Update Location">
                <span class="badge badge-pill badge-warning">Update</span>
              </a>
              <a href="addLocation" class="card-link" data-toggle="tooltip" title="Delete Location">
                <span class="badge badge-pill badge-danger">Delete</span>
              </a>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>