<app-menu></app-menu>

<div class="container">

  <div class="row" style="padding:20px">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card  border-primaryg-info text-black">
        <div class="card-header">
          <h6 class="card-title" class="text-center"> Define Keyword </h6>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm ">
                  Query <span class="req" style="color: Red">*</span></label>
              <div class="col-sm-8">
                <select class="custom-select custom-select-sm">
                  <option> Select Group </option>
                  <option>aabcbac </option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>

              </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm ">
                    Keyword <span class="req" style="color: Red">*</span></label>
                <div class="col-sm-8">
                    
                        <input type="text" class="form-control form-control-sm" id="userName"
                            name="userName" ngModel placeholder="Enter Login ID">
                   
                </div>
              </div>
              <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm ">
                    Message
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="col-sm-8">
                    <textarea put class="form-control form-control-sm" rows="4" value="Artisanal kale"></textarea>
                    <p class="instruction">(Message more than 160 characters would be broken into two SMS)
                        *Are Mandatory Fields
                        Note: Kindly Configure Keyword in such a way that No two Keyword have Initial 2 Characters Same.</p>
                  </div>
                </div>
                <div class="form-group row">
                <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm ">
                    Mail IDs <span class="req" style="color: Red">*</span></label>
                <div class="col-sm-8">
                    
                        <input type="text" class="form-control form-control-sm" id="userName"
                            name="userName" ngModel placeholder="Enter Login ID">
                   
                </div>
              </div>

              <div class="form-group row">
                  <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm ">
                      Acknowledgement By SMS </label>
                  <div class="col-sm-8">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label" for="customCheck1"></label>
                        </div>
                  </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm ">
                        Acknowledgement By Voice  </label>
                    <div class="col-sm-8">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"></label>
                          </div> 
                    </div>
                  </div>

                  

            <div class="row justify-content-center">
              <div style="margin:10px" >
                <button class="btn btn-default btn-sm btn-block">Add </button>
              </div>
              <div style="margin:10px">
                <button class="btn btn-default btn-sm btn-block"> View </button>
              </div>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>