<app-menu>
</app-menu>


<!-- <div class="container  mat-elevation-z8">
  <mat-toolbar color="primary">
    <span>Department</span>
    <span class="spacer"></span>

    <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Searched By ID , DepartmentName , DepartmentDesc , Date">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">

    <button mat-raised-button color="primary" (click)="removeSelectedRows()">
      Remove Selected Rows
    </button>


    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Checkbox Column -->
<!-- <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container> -->

<!-- ID Column -->
<!-- <ng-container matColumnDef="departmentId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell> -->
<!-- <mat-cell *matCellDef="let row" hidden> {{row.departmentId}} </mat-cell> -->
<!-- <mat-cell *matCellDef="let row ;let i=index;"> {{i+1}} </mat-cell>
      </ng-container> -->

<!-- Progress Column -->
<!-- <ng-container matColumnDef="departmentName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> DepartmentName </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.departmentName}} </mat-cell>
      </ng-container> -->

<!-- Name Column -->
<!-- <ng-container matColumnDef="departmentDesc">
        <mat-header-cell *matHeaderCellDef mat-sort-header> DepartmentDesc </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.departmentDesc}} </mat-cell>
      </ng-container> -->


<!-- Color Column -->
<!-- <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CreatedDate </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.createdDate}} </mat-cell>
      </ng-container> -->

<!-- Color Column -->
<!-- <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
      </ng-container> -->

<!-- actions -->
<!-- <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <button mat-icon-button color="primary" (click)="addNew()">
          <button mat-icon-button color="primary" (click)="OpenModel(department,updateModal)">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let row; let i=index;">
         <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
         

            <mat-icon aria-label="Edit">edit</mat-icon>
          </button> -->

<!-- <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)"> -->
<!-- <button mat-icon-button color="accent" (click)="deleteDepartment(departmentId)">

            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row ; columns: displayedColumns;"  (click)="selection.toggle(row)">
      </mat-row>

    </mat-table>

    <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
   
      Sorry No Department Found
    </div> -->

<!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
<!--     
    <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]">
    </mat-paginator> -->
<!-- <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </div>


</div> -->

<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>

<div class="container">

  <!-- <div class="row" style="margin-top:20px;margin-left:2%;">
    <i class="fa fa-plus-square" data-toggle="tooltip" title="Add location" style="color:green;font-size:30px;" (click)="OpenModel(department,updateModal)"></i>
  </div> -->
  <!-- <div *ngIf="!loginId.viewdepartmentView" class="row" style="margin: 10%">
    <div class="col-md-8 offset-md-4">
      <h5 style="color:red">Sorry! You Have No Access To See</h5>
      <img src="../../assets/images/NO_ACCESS.jpg" />
    </div>
  </div> -->


  <div *ngIf="!loginId.adddepartmentView  && !loginId.viewdepartmentView" class="row" style="margin: 10%">
    <div class="col-md-8 offset-md-4">
      <h5 style="color:red">Sorry! You Have No Access To See</h5>
      <img src="../../assets/images/NO_ACCESS.jpg" />
    </div>
  </div>

  <div class="row" style="margin:20px">
    <div class="col-sm-12">
      <div class="card h-100 text-black bg-secondary">
        <!-- <div class="card  border-primaryg-info text-black"> -->
        <div class="card-header" *ngIf="loginId.adddepartmentView || loginId.viewdepartmentView">
          <div class="row">
            <div class="col-sm-2   text-left">
              <i *ngIf="loginId.adddepartmentView" class="fa fa-plus-square" data-toggle="tooltip" title="Add department" style="color:green;font-size:30px;"
                (click)="OpenModel(department,updateModal)"></i>
            </div>
            <div class="col-sm-8 h5  text-center">
              Department
            </div>
            <div class="col-sm-2 text-right">
              <span  class="badge badge-pill badge-danger  text-right;">{{numberOfData}} </span>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="loginId.viewdepartmentView">
          <div class="form-group row">
            <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
              <div class="col-sm-8 form-inline">
                <label class="col-sm-1 col-sm-form-label form-control-sm "><b>Search:</b></label>
                <input type="text" class="form-control col-sm-3 form-control-sm" name="departmentName" [(ngModel)]="filter.departmentName"
                  placeholder="Department Name">
              </div>
              <div class="col-sm-2 form-inline">
                <label for="limit" class="col-sm-6 col-sm-form-label form-control-sm "><b>Limit:</b></label>
                <input type="number" class="form-control col-sm-6 form-control-sm" name="limit" [(ngModel)]="limit" min="5" [attr.max]="[numberOfData]"
                  step="5" placeholder="Limit">
              </div>
              <div class="col-sm-2 form-inline">
                <label for="page" class="col-sm-6 col-sm-form-label form-control-sm "><b>Page:</b></label>
                <input type="number" class="form-control col-sm-6 form-control-sm" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfData]"
                  step="1" placeholder="Page">
              </div>


            </div>
            <div class="col-sm-12" style="text-align:center;" *ngIf="deleteField">

              <h5 class="successmsg">Department Deleted successfully!</h5>

            </div>

            <div class="col-sm-12" style="text-align:center;" *ngIf="authenticationError">

                <h5 class="errormsg">Something went wrong. Please try again!</h5>
  
              </div>
              
            <div class="table-responsive">
              <table class="table table-sm table-bordered table-hover" *ngIf="!nodepartmentCreated">
                <thead>
                  <tr class="table-info">
                    <th>S.No.</th>
                    <th>Department Name</th>
                    <th>Description</th>
                    <th>Date/Time</th>
                    <th>Created By</th>
                    <th style="text-align: center;" *ngIf="loginId.modifydepartmentView || loginId.deletedepartmentView " >Action</th>
                  </tr>
                </thead>
                <tbody>

                  <tr class="table-info" *ngFor="let department of allDepartment | datafilter:filter | slice:(page-1)*limit:page*limit ;let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{department.departmentName}}</td>
                    <td>{{department.departmentDesc}}</td>
                    <td>{{department.createdDate}}</td>
                    <td>{{department.loginId.loginId}}</td>
                    <td style="text-align: center;" *ngIf="loginId.modifydepartmentView || loginId.deletedepartmentView " >
                      <i *ngIf="loginId.modifydepartmentView" class="fa fa-pencil-square-o" data-toggle="tooltip" title="Update Location" style="color:Blue;font-size:20px;" (click)="OpenModel(department,updateModal)"></i>

                      &nbsp;&nbsp;&nbsp;
                      <!-- <i *ngIf="loginId.deletedepartmentView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete Location" style="color:red;font-size:20px;" (click)="deleteDepartment(department)"></i> -->
                      <i *ngIf="loginId.deletedepartmentView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete Department" style="color:red;font-size:20px;"
                      (click)="open(department,deleteModal)"></i>
                  </tr>

                </tbody>
              </table>
            </div>


          </div>

          <!-- <div class="row justify-content-center" *ngIf="!nodepartmentCreated">
            <img src="../../assets/images/DataNotFound.jpg" />
            <div>
              <button class="btn btn-default btn-sm btn-block">Generate Excel</button>
            </div>
            <div style="margin-left: 10px; ">
              <button class="btn btn-default btn-sm btn-block">Generate PDF</button>
            </div>
          </div> -->

          <div class="row" *ngIf="nodepartmentCreated">

            <div class="col-md-6 offset-md-3" style="text-align:center;">


              <img src="../../assets/images/not-found.png" />
             

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- -----------------------------------------------------------------Depaartment Model--------------------------------------------------------- -->

<ng-template #updateModal>

  <div class="modal-content ">
    <div class="modal-header " style="background-color:lightblue;text-align:center">
      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      <div class="col-sm-10">
        <h6 class="modal-title" *ngIf="department.departmentId">Update Department </h6>
        <h6 class="modal-title" *ngIf="!department.departmentId">Add New Department </h6>
      </div>
      <div class="col-sm-2">
        <!-- <button type="button" class="btn btn-info btn-sm" (click)="closeModel()">close</button> -->
        <i class="fa fa-remove" (click)="closeModel()"  data-toggle="tooltip" title="Close" style="color:firebrick;font-size:20px;" aria-hidden="true"></i>
      </div>

    </div>
    <div class="modal-body">
      <form (ngSubmit)="submit" #formControl="ngForm">
        <div class="row">
          <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="departmentId" [(ngModel)]="department.departmentId"
            #departmentId="ngModel" hidden>
          <div class="col-sm-6">
            <label class="mr-sm-2 mb-0 col-form-label-sm" [ngClass]="{ 'has-danger':  departmentName.invalid && (departmentName.dirty || departmentName.touched),
                                                                       'has-success': departmentName.valid &&  (departmentName.dirty  || departmentName.touched)}">
              Department Name
              <span class="req" style="color: Red">*</span>

            </label>
            <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="departmentName" [(ngModel)]="department.departmentName"
              #departmentName="ngModel" autocomplete="off" required>
            <div class="form-control-feedback" *ngIf="departmentName.errors && (departmentName.dirty || departmentName.touched)">
              <p *ngIf="departmentName.errors.required">Name is required.</p>
              <!-- <p *ngIf="departmentName.errors.pattern">Invalid Name.</p>pattern="^[a-zA-Z- ]*$" -->

            </div>
            <div *ngIf="departmentExists" style="color:red;">
              <p>{{departmentMessage}}</p>
            </div>
          </div>

          <div class="col-sm-6">
            <label class="mr-sm-2 mb-0 col-form-label-sm" [ngClass]="{ 'has-danger':  departmentDesc.invalid && (departmentDesc.dirty || departmentDesc.touched),
                                                                       'has-success': departmentDesc.valid &&  (departmentDesc.dirty  || departmentDesc.touched)}">Department Description
              <span class="req" style="color: Red">*</span>

            </label>
            <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="departmentDesc" [(ngModel)]="department.departmentDesc"
              #departmentDesc="ngModel" autocomplete="off" required>
            <div class="form-control-feedback" *ngIf="departmentDesc.errors && (departmentDesc.dirty || departmentDesc.touched)">
              <p *ngIf="departmentDesc.errors.required">Description is required.</p>
              <!-- <p *ngIf="departmentDesc.errors.pattern">Invalid Name.pattern="^[a-zA-Z-,.()/& ]*$"</p> -->

            </div>
          </div>
        </div>


        <div class="row justify-content-center">
          <div style="margin:10px;">
            <button type="button" class="btn btn-info btn-sm" *ngIf="department.departmentId" [disabled]="!formControl.valid" (click)="updateDepartment()">Update</button>
          </div>
          <div style="margin:10px;">
            <button type="button" class="btn btn-info btn-sm" *ngIf="!department.departmentId" [disabled]="!formControl.valid" (click)="addDepartment()">Add </button>
          </div>
        </div>
        <div style="text-align:center;" *ngIf="successField">
          <h6 class="successmsg">
            Department Added Successfully!
          </h6>
        </div>
        <div style="text-align:center;" *ngIf="authenticationError">
          <h6 class="errormsg">Something went wrong. Please try again!</h6>
        </div>
        <div *ngIf="successEdit" style="text-align:center;">
          <h6 class="successmsg">Department updated successfully !</h6>
        </div>

      </form>
    </div>

  </div>
</ng-template>

<!-- ----------------------------------------------------Delete Department------------------------------------ -->

<ng-template #deleteModal let-c="close" let-d="dismiss">

    <div class="modal-content" style="background-color: khaki;">
      <form (ngSubmit)="submit" #formControl="ngForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
           
              <h5 style="color:green; text-align: center"> Are You Sure Want To Delete: {{department.departmentName}}</h5>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row justify-content-center">
            <div class="col-sm-12" style="margin-right: 127px;">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteDepartment(department)">Yes</button>
              <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  

<!-- <div *ngIf="statusCode; else processing">
  <div *ngIf="statusCode === 201" [ngClass] = "'success'">
     Article added successfully.
  </div>   
  <div *ngIf="statusCode === 409" [ngClass] = "'success'">
       Article already exists.
  </div>   	
  <div *ngIf="statusCode === 200" [ngClass] = "'success'">
       Article updated successfully.
  </div>   	      
  <div *ngIf="statusCode === 204" [ngClass] = "'success'">
       Article deleted successfully.
  </div>   	   
  <div *ngIf="statusCode === 500" [ngClass] = "'error'">
       Internal Server Error.
  </div>	
</div> -->