

.dropdown-menu.show {
    background-color: cadetblue;
    font-family: cursive;	
    font-size: small;

}


p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: indigo;
    font-family: fantasy;
}


hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 2px solid #673AB7;
}

.navbar-nav {
    width: 100%;
    text-align: center;
  }