<br>
<!-- <div class="container-fluid"> -->
<div class="row">
  <div class="col-sm-12">

    <nav class="navbar navbar-expand-md  navbar-light py-md-1" style="background-color: cadetblue;">

      <!-- <a class="navbar-brand" routerLink=" ">Navbar</a> -->
      <button class="navbar-toggler py-md-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
              <div class="dropdown">
                <button style="color: navy; font-family: cursive; background-color: inherit;" class="btn btn-default dropdown-toggle py-md-0"
                  type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-home"></i>&nbsp;Home</button>
                <div class="dropdown-menu" aria-labelledby="about-us">
                  <a class="dropdown-item" routerLink="/home">{{loginId.userName}}</a>
                </div>
              </div>
            </li> -->

          <li class="nav-item">
            <div class="dropdown">
              <button style="color: navy; font-family: cursive; background-color: inherit;" class="btn btn-default dropdown-toggle py-md-0"
                type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>&nbsp;Admin Manager</button>
              <div class="dropdown-menu" aria-labelledby="about-us">



                <a *ngIf="loginId.addlocationView || loginId.deletelocationView || loginId.modifylocationView || loginId.viewlocationView"
                  class="dropdown-item" routerLink="/admin/location/master">Location Master</a>
                <a *ngIf="loginId.adduserMasterView || loginId.deleteuserMasterView || loginId.modifyuserMasterView || loginId.viewuserMasterView"
                  class="dropdown-item" routerLink="/admin/user/master">User Master</a>
                <a class="dropdown-item" routerLink="/admin/change/password">Change Password</a>
                <a *ngIf="loginId.adddepartmentView || loginId.deletedepartmentView || loginId.modifydepartmentView || loginId.viewdepartmentView"
                  class="dropdown-item " routerLink="/admin/department/master">Department Master</a>
                <a *ngIf="issuperAdminTrue" class="dropdown-item " routerLink="/admin/mobile/master">Allow Mobile Master</a>
                <!-- <a class="dropdown-item " routerLink="/admin/smtpmail/conf">SMTP Mail Configuration
                  </a> -->
                <a *ngIf="issuperAdminTrue" class="dropdown-item " routerLink="/admin/account/status">Account Status
                </a>
                <!-- <a class="dropdown-item " routerLink="/admin/admin/license">License Status
                  </a> -->
                <a *ngIf="issuperAdminTrue" class="dropdown-item " routerLink="/admin/latest/news">Add Latest News
                </a>
              </div>
            </div>

          </li>



          <li class="nav-item" *ngIf="loginId.addphoneDirectoryView || loginId.deletephoneDirectoryView || loginId.modifyphoneDirectoryView || loginId.viewphoneDirectoryView || loginId.addcontactGroupView || loginId.deletecontactGroupView || loginId.modifycontactGroupView || loginId.viewcontactGroupView">
            <div class="dropdown">
              <button style="color: navy; font-family: cursive; background-color: inherit;" class="btn btn-default dropdown-toggle py-md-0"
                type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-share-square-o"></i>&nbsp;Utility Manager</button>
              <div class="dropdown-menu" aria-labelledby="about-us">
                <a *ngIf="loginId.addphoneDirectoryView || loginId.deletephoneDirectoryView || loginId.modifyphoneDirectoryView || loginId.viewphoneDirectoryView"
                  class="dropdown-item" routerLink="/utility/phone/directory">Phone Directory</a>
                <a *ngIf="loginId.addcontactGroupView || loginId.deletecontactGroupView || loginId.modifycontactGroupView || loginId.viewcontactGroupView"
                  class="dropdown-item" routerLink="/utility/contact/group">Contact Group</a>
                <!-- <a class="dropdown-item " routerLink="/utility/dnd/master">DND Master</a> -->
                <!-- <a class="dropdown-item " routerLink="/utility/backup">Backup</a> -->

              </div>
            </div>
          </li>

          <li class="nav-item" *ngIf="loginId.addsmsDraftView || loginId.deletesmsDraftView || loginId.modifysmsDraftView || loginId.viewsmsDraftView || loginId.addinstantMessageView">
            <div class="dropdown">
              <button style="color: navy; font-family: cursive; background-color: inherit;" class="btn btn-default dropdown-toggle py-md-0"
                type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-envelope-open"></i>&nbsp;Send Sms</button>
              <div class="dropdown-menu" aria-labelledby="about-us">
                <!-- <a *ngIf="loginId.addsmsDraftView || loginId.deletesmsDraftView || loginId.modifysmsDraftView || loginId.viewsmsDraftView"
                  class="dropdown-item" routerLink="/sms/voice/draft">Sms Template</a> -->
                <!-- <a class="dropdown-item" routerLink="/sms/voice/file">Upload Voice File</a> -->
                <!-- <a class="dropdown-item " routerLink="/sms/client/master">ClientId Master</a> -->
                <a *ngIf="loginId.addinstantMessageView" class="dropdown-item " routerLink="/sms/message/instant/message">Instant Message</a>
                <!-- <a class="dropdown-item " routerLink="/sms/voice/instant/message">Instant Voice</a> -->
                <!-- <a class="dropdown-item " routerLink="/sms/schedule/message">Schedule Message</a>
                  <a class="dropdown-item " routerLink="/sms/schedule/voice">Schedule Voice</a> -->
                <!-- <a class="dropdown-item " routerLink="/sms/instant/message/report">Instant Msg Report</a>
                  <a class="dropdown-item " routerLink="/sms/instant/voice/report">Instant Voice Report</a>
                  <a class="dropdown-item " routerLink="/report">Schedule Msg Report</a>
                  <a class="dropdown-item" routerLink="/report">Schedule voice Report</a>
                  <a class="dropdown-item " routerLink="/report">Msg Trunk Report</a> -->
              </div>
            </div>

          </li>
          <!-- <li class="nav-item">
                          <div class="dropdown">
                            <button style="font:caption;" class="btn btn-default dropdown-toggle" type="button"
                              id="about-us" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">Keyword Manager</button>
                            <div class="dropdown-menu" aria-labelledby="about-us">
                              <a class="dropdown-item" routerLink="/keyword/configure/keyword">Configure Keyword</a> <a
                                class="dropdown-item" routerLink="/keyword/pull/report">Pull Report</a>
                            </div>
                          </div>
                  
                        </li>  &nbsp;&nbsp;
                        <li class="nav-item">
                          <div class="dropdown">
                            <button style="font:caption;" class="btn btn-default dropdown-toggle" type="button"
                              id="about-us" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">Auto Pull Manager</button>
                            <div class="dropdown-menu" aria-labelledby="about-us">
                              <a class="dropdown-item" routerLink="/pull/manager/define/query">Define Query</a> <a
                                class="dropdown-item" routerLink="/pull/manager/define/keyword">Define keyword</a>
                            </div>
                          </div>
                  
                        </li>  &nbsp;&nbsp;
                       -->


          <li class="nav-item" *ngIf="loginId.viewinstantMessageReportView || loginId.deleteinstantMessageReportView || loginId.addinstantMessageView">
            <div class="dropdown">
              <button style="color: navy; font-family: cursive; background-color: inherit;" class="btn btn-default dropdown-toggle py-md-0"
                type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-eye"></i>&nbsp; Report </button>
              <div class="dropdown-menu" aria-labelledby="about-us">
                <a *ngIf="loginId.viewinstantMessageReportView || loginId.deleteinstantMessageReportView" class="dropdown-item" routerLink="/report">Send Sms Report</a>
                <a *ngIf="loginId.addinstantMessageView" class="dropdown-item" routerLink="/schedule/sms/report">Schedule Sms Report</a>

              </div>
            </div>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <a href="../../assets/images/help_doc/NTPC_HELP_DOCUMENT.pdf" target="_blank">
                <button style="color: navy; font-family: cursive; background-color: inherit;" class="btn btn-default py-md-0" type="button"
                  id="about-us" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp; Help</button>
              </a>
            </div>
          </li>

          <li class="nav-item" style="margin-right:10px">
            <div class="dropdown">
              <button style="color: navy; font-family: cursive; background-color: inherit;" class="btn btn-default dropdown-toggle py-md-0"
                type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-lock"></i>&nbsp;{{loginId.userName}}</button>
              <div class="dropdown-menu" aria-labelledby="about-us">
                <button class="dropdown-item" (click)="logout()">LogOut</button>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a routerLink="/home">
              <i class="fa fa-home" data-toggle="tooltip" title="HOME" style="color:navy;font-size:25px;"></i>
            </a>
          </li>
        </ul>

      </div>
    </nav>
  </div>
</div>
<!-- </div> -->