<app-menu></app-menu>
<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>

<div class="container">

  <div *ngIf="!loginId.addinstantMessageView" class="row" style="margin: 10%">
    <div class="col-md-8 offset-md-4">
      <h5 style="color:red">Sorry! You Have No Access To See</h5>
      <img src="../../assets/images/NO_ACCESS.jpg" />
    </div>
  </div>

  <div class="row" style="padding:20px" *ngIf="loginId.addinstantMessageView">
    <div class="col-md-10 offset-md-1">
      <div class="card  border-primaryg-info text-black">
        <div class="card-header">
          <h5 style="text-align:center"> Instant Message </h5>
          <div style="text-align: center;" *ngIf="successField">
            <h5 class="successmsg">
              SMS Send Successfully With Skipped Duplicate Numbers
            </h5>
          </div>
          <div style="text-align: center; color: red" *ngIf="authenticationError">
            <h5 class="errormsg">Something went wrong. Please try again!</h5>
          </div>
          <div style="text-align: center; color: red" *ngIf="!URL_RESPONSE">
            <h5 class="errormsg">Please Start a URL/Gateway First To Send a Sms</h5>
          </div>
        </div>

        <div class="card-body">
          <div class="container-fluid">
            <form>

              <div class="row">
                <div class="col-sm-6">
                  <!-- <div class="form-group row">
              <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm ">
                Phone Directory
             
              </label>

              <div class="col-sm-8">
                <select [style.border]="errorborder" class="custom-select custom-select-sm" style="height:60px;" multiple data-actions-box="true"
                  name="phoneDirectory" [(ngModel)]="sms.phoneDirectory" #phoneDirectory="ngModel" >
                  <option *ngFor="let phoneDirectory of phoneDirctoryList;let i=index;">
                    {{phoneDirectory.mobileNo1}}
                  </option>

                </select>

              </div>
            </div> -->

                  <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm "> Contact Group

                    </label>
                    <div class="col-sm-8">
                      <select [style.border]="errorborder" class="custom-select custom-select-sm" style="height:70px;" multiple data-actions-box="true"
                        name="contactGroup" [(ngModel)]="sms.contactGroup" #contactGroup="ngModel" (change)="checkRequired()">
                        <option *ngFor="let contact of contactGroupList"> {{contact.contactGroupName}} </option>

                      </select>

                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm ">Project

                    </label>
                    <div class="col-sm-8">
                      <select [style.border]="errorborder" class="custom-select custom-select-sm" style="height:70px;" multiple data-actions-box="true"
                         [(ngModel)]="sms.projectName"  (click)="changeCheck(sms.projectName)" name="projectName" #projectName="ngModel">
                        <option *ngFor="let project of projectList"> {{project}}</option>

                      </select>

                    </div>
                  </div>

               


                  <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm"> Enter Number

                    </label>
                    <div class="col-sm-8">
                      <input [style.border]="errorborder" class="form-control form-control-sm" type="text" name="mobile" [(ngModel)]="sms.mobile"
                        #mobile="ngModel"  placeholder="Enter mobile no" (change)="checkRequired()">
                      <h6 class="instruction"> (Commo Separated Numbers)</h6>
                      <div *ngIf="chooseOne" class="form-control-feedback">
                        <p>{{requiredMsg1}}</p>
                      </div>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm">
                      Message
                    </label>
                    <div class="col-sm-8">
                      <textarea [style.border]="errorbordersms" put class="form-control form-control-sm" rows="3" name="message" [(ngModel)]="sms.message"
                        #message=ngModel  placeholder="Enter message here." (input)="checkRequired()"></textarea>
                      <!-- <span>Remaining{{text_length}}</span> -->
                      <!--  -->
                      <!-- <p class="instruction">Remaining:{{text_length}}</p> (keyup)="doCount()"-->
                      <!-- <div class="form-control-feedback"> -->
                      <p class="instruction" *ngIf="messageSelect" style="color: Red">{{requiredMsg}}</p>

                      <!-- </div> -->

                    </div>

                  </div>



                </div>

                <div class="col-sm-6">

                  <!-- <div class="form-group row">
        <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm">
          Template
        </label>
        <div class="col-sm-8">
          <select [style.border]="errorbordersms" class="custom-select custom-select-sm" name="messageName" [(ngModel)]="sms.messageName"
            #messageName="ngModel" >
            <option value="">Select</option>
            <option *ngFor="let sms of smsList">{{sms.smsName}}</option>

          </select>
        </div>
      </div> -->


                  <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm "> Location

                    </label>
                    <div class="col-sm-8">
                      <select [style.border]="errorborder" class="custom-select custom-select-sm" style="height:70px;" multiple data-actions-box="true"
                        name="locations" [(ngModel)]="sms.locations" #locations="ngModel" (click)="locationCheck(sms.locations)" (change)="checkRequired()">
                        <option *ngFor="let location of locationList"> {{location}}</option>
                        

                      </select>

                    </div>
                  </div>


                  <!-- <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm "> Department

                    </label>
                    <div class="col-sm-8">
                      <select [style.border]="errorborder" class="custom-select custom-select-sm" style="height:70px;" multiple data-actions-box="true"
                        name="departments" [(ngModel)]="sms.departments" #departments="ngModel" (change)="checkRequired()">
                        <option *ngFor="let department of departmentList"> {{department}}</option>

                      </select>

                    </div>
                  </div> -->

                   <!-- -------------------------grade----------------------------- -->


                   <div class="form-group row">
                <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm "> Grade
                
                </label>
                <div class="col-sm-8">
                  <select [style.border]="errorborder" class="custom-select custom-select-sm" style="height:60px;" multiple data-actions-box="true"
                    name="grades" [(ngModel)]="sms.grades" #grades="ngModel" (change)="checkRequired()">
                    <option *ngFor="let grade of gradeList"> {{grade}}</option>
  
                  </select>
                 
                </div>
              </div> 



                  <!-- Sub grade---------------->
                  <!-- <div class="form-group row">
        <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm "> SubGrade
        
        </label>
        <div class="col-sm-8">
          <select [style.border]="errorborder" class="custom-select custom-select-sm" style="height:60px;" multiple data-actions-box="true"
            name="substGrades" [(ngModel)]="sms.substGrades" #substGrades="ngModel" >
            <option *ngFor="let substGrade of subGradeList"> {{substGrade}}</option>

          </select>
         
        </div>
      </div> -->


                  <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm"> Upload File

                    </label>
                    <div class="col-sm-8">
                      <input type="file" [style.border]="errorborder" class="form-control  form-control-sm mr-sm-2 mb-2 mb-sm-0" (change)="onXlsFileChange($event)"
                        name="xlsFile" [(ngModel)]="xlsFile" accept=".xlsx, .xls"  required>
                      <p class="instruction" style="color:green;" *ngIf="successFile">File Upload Successfully!</p>
                      <p class="instruction" *ngIf="totalContactFile">Total contact number :{{uploadContactList.length}}</p>
                      <p class="instruction" style="color:red;" *ngIf="isExcelFile">{{errorEXFileMessage}}</p>
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top:22px;">
                    <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm">
                      Schedule Type

                    </label>
                    <div class="col-sm-8">
                      <!-- <select class="custom-select custom-select-sm"  name="scheduleType" [(ngModel)]="sms.scheduleType" #scheduleType="ngModel">
                 <option ng-selected="scheduleType" value="oneTime">OneTime</option>
                  <option value="daily">Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
                </select> -->

                      <!-- <select [(ngModel)]="sms.scheduleType" name="scheduleType" class="form-control input-sm" #scheduleType="ngModel" style="width:150px;" required>
                  <option  [value]="0">Select</option>
                  <option *ngFor="let scheduleType of scheduleTypes" [value]="scheduleType.value">{{scheduleType.name}}</option>
              </select> -->
                      <!-- 
              <select class="form-control" class="custom-select custom-select-sm">
                <option value="">Please select a language</option>
                <option *ngFor="let scheduleType of scheduleTypes" [value]="scheduleType.value"> 
                    {{scheduleType.type}} 
                </option>
              </select> -->
                      <select class="form-control" class="custom-select custom-select-sm" [(ngModel)]="scheduleType" name="scheduleType">
                        <option *ngFor="let schedule of scheduleTypes" [value]="schedule.value">
                          {{schedule.scheduleType}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm ">
                      Schedule Date

                    </label>
                    <div class="col-sm-8">
                      <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" class="form-control form-control-sm" name="scheduleDate" [(ngModel)]="sms.scheduleDate"
                        #scheduleDate="ngModel" placeholder="Select Date" [min]="min" [max]="max">
                      <owl-date-time #dt></owl-date-time>

                      <!-- <p class="instruction" *ngIf="isDataSlect" style="color: Red"> {{dateMessage}} </p> -->
                    </div>

                  </div>

                  <!-- <div class="form-group row">
                  <label for="example-text-input" class="col-sm-4 col-form-label form-control-sm">
                    Priority
                  
                  </label>
                  <div class="col-sm-8">
                    <select class="form-control" class="custom-select custom-select-sm" [(ngModel)]="smsPriority" name="smsPriority">
                      <option *ngFor="let smsPriority of smsPriorities" [value]="smsPriority.value">
                        {{smsPriority.priority}}
                      </option>
                    </select>
    
                  </div>
                </div> -->

                  <!-- <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                Client ID
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select class="custom-select custom-select-sm">
                  <option value="1">Yss 1</option>
                  <option value="2">Yss 2</option>
                  <option value="3">yss 2</option>
                </select>
              </div>
            </div> -->


                </div>

              </div>

              <div class="row justify-content-center">
                <div style="margin:10px;">
                  <button [disabled]="disabled" type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0" (click)="messageDetail(sms)">
                  Send </button>
                </div>
                <div style="margin:10px;">
                  <button type="reset" class="btn btn-sm btn-danger mt-2 mt-sm-0" (click)="reset()"> Reset </button>
                </div>

              </div>

            </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-sm-1" *ngFor="let mobile of duplicatList ">{{mobile.mobileNo1}}</div>
</div> -->


<!-- --------------------------------------------------------------------------------------------------- -->
<!-- 
 <ng-template #sendModel let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color:cadetblue;">
    <div class="col-sm-10">
      <h6 class="modal-title" id="myModalLabel" style="color:green;text-align: center;">Are You Sure</h6>
    </div>
    <div class="col-sm-2">
      <a class="close" data-dismiss="modal" data-toggle="tooltip" title="Close" (click)="d('Cross click')" style="color:firebrick;font-size:20px;"
        aria-hidden="true">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>

  </div>
  <div class="modal-body">
    <div>
      <pre>ContactGroup : {{sms.contactGroup}}</pre>
      <pre>DepartmentName : {{sms.departments}}</pre>
      <pre>LocationName: {{sms.locations}}</pre>
      <pre>Project: {{sms.projects}}</pre>
      <pre>MessageTemplate : {{sms.messageName}}</pre>
      <pre>TextMessage : {{sms.message}}</pre>
      <pre>ScheduleType : {{this.scheduleType}}</pre>
      <pre>ScheduleDate : {{sms.scheduleDate | date:'dd-MM-yyyy'}}</pre>
      <pre>ScheduleTime : {{sms.scheduleDate | date:'HH:mm:ss'}}</pre>
      <pre>MobileNumber : {{sms.mobile}}</pre>
      <pre>UploadMobileNumber : {{this.uploadContactList}}</pre>
    </div>
  </div>
  <div class="modal-footer" style="background-color:lightblue;text-align:center">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-danger" (click)="saveInstaceMessage()">Yes</button>
      <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">No</button>
    </div>
  </div>
</ng-template>  -->


