<app-menu></app-menu>
<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>

<div class="container">
    <div *ngIf="!loginId.addcontactGroupView && !loginId.viewcontactGroupView" class="row">
        <div class="col-md-8 offset-md-4" style="margin-top: 10%">
            <h5 style="color:red">Sorry! You Have No Access To See</h5>
            <img src="../../assets/images/NO_ACCESS.jpg" />
        </div>
    </div>
    <div *ngIf="this.contactListforGroup_condition">
        <div class="row" style="padding:20px" *ngIf="this.AllGroup">

            <div class="col-md-8 offset-md-2" *ngIf="loginId.addcontactGroupView">
                <div class="card h-100 text-black">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-11 h5  text-center">
                                Contact Group
                            </div>
                            <div class="col-sm-1">
                                <i class="fa fa-eye" data-toggle="tooltip" aria-hidden="true" title="Close Create Group" style="color:indigo; font-size:20px;"
                                    (click)="BackContactGroupList()"></i>

                            </div>

                        </div>
                    </div>

                    <div>

                        <div class="card-body">


                            <form novalidate (ngSubmit)="onSubmit()" #contactGroupForm="ngForm">
                                <div class="row">
                                    <div class="col-sm-6" [ngClass]="{
                                    'has-danger': contactGroupName.invalid && (contactGroupName.dirty || contactGroupName.touched),
                                    'has-success': contactGroupName.valid && (contactGroupName.dirty || contactGroupName.touched)}">
                                        <label class="mr-sm-2 mb-0 col-form-label-sm"> Group Name
                                            <span class="req" style="color: Red">*</span>

                                        </label>

                                        <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="contactGroupName" #contactGroupName="ngModel"
                                            [(ngModel)]="contactgroup.contactGroupName" autocomplete="off" required>
                                        <div class="form-control-feedback" *ngIf="contactGroupName.errors && (contactGroupName.dirty || contactGroupName.touched)">

                                            <p *ngIf="contactGroupName.errors.required">Group Name is required.</p>
                                            <!-- <p *ngIf="contactGroupName.errors.pattern">Invalid Name.</p> pattern="^[a-zA-Z0-9_@ ]*$"-->

                                        </div>
                                    </div>

                                    <div class="col-sm-6" [ngClass]="{
                                    'has-danger': abbreviation.invalid && (abbreviation.dirty || abbreviation.touched),
                                    'has-success': abbreviation.valid && (abbreviation.dirty || abbreviation.touched)}">
                                        <label class="mr-sm-2 mb-0 col-form-label-sm"> Abbrivation
                                            <span class="req" style="color: Red">*</span>

                                        </label>

                                        <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="abbreviation" #abbreviation="ngModel"
                                            [(ngModel)]="contactgroup.abbreviation" autocomplete="off" required>
                                        <div class="form-control-feedback" *ngIf="abbreviation.errors && (abbreviation.dirty || abbreviation.touched)">

                                            <p *ngIf="abbreviation.errors.required">Abbreviation is required.</p>
                                            <!-- <p *ngIf="abbreviation.errors.pattern">Invalid Name.</p> pattern="^[a-zA-Z0-9_@ ]*$"-->

                                        </div>
                                    </div>



                                </div>
                                <div class="row justify-content-center" style="padding-top:10px">

                                    <button type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0" [disabled]="contactGroupForm.invalid">Add Group</button>
                                </div>


                            </form>

                            <div style="padding-left:230px;margin-top:5px;" *ngIf="successCreate">
                                <h6 class="successmsg">
                                    Group Create Successfully!
                                </h6>
                            </div>
                            <div style="padding-left:200px;" *ngIf="authenticationError">
                                <h6 class="errormsg">Something went wrong. Please try again!</h6>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- ---------------------------------Group List---------------------------------------------------------------------- -->

    <div *ngIf="!this.contactListforGroup_condition">
        <div class="row" style="margin:20px" *ngIf="!AllGroup">
            <div class="col-sm-12">
                <div class="card h-100 text-black bg-secondary">
                    <div class="card-header" style="text-align:center" *ngIf="loginId.addcontactGroupView || loginId.viewcontactGroupView">
                        <div class="row">
                            <div class="col-sm-2 text-left">
                                <i *ngIf="loginId.addcontactGroupView" class="fa fa-plus-square" data-toggle="tooltip" title="Create Grooup" style="color:green;font-size:30px;"
                                    (click)="showCreateGroup()"></i>
                            </div>
                            <div class="col-sm-8 h5  text-center">
                                All Group
                            </div>
                            <!-- <div class="col-sm-2 text-right">
                                <span class="badge badge-pill badge-danger  text-right;">{{numberOfData}} </span>
                            </div> -->

                        </div>

                    </div>

                    <div class="card-body" *ngIf="loginId.viewcontactGroupView">

                        <div class="form-group row">
                            <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
                                <div class="col-sm-11 form-inline">
                                    <label class="col-sm-1 col-sm-form-label form-control-sm "><b>Search:</b></label>
                                        <input type="text" class="form-control col-sm-3 form-control-sm" name="groupName" [(ngModel)]="pageInfo.groupName" (input)="findGroupOnkeyPress()"placeholder="Group Name">
                                    <!-- <button class="btn-success btn-sm" style="margin-left: 10px;" (click)="getGroupListpagination()"> Search</button> -->
                                  </div>
                                  <div class="col-sm-1">
                                      <button class="btn-sm" (click)="refeshPage()"><img src="../../assets/images/Button-Refresh-icon.png" style="width:20px;height:20px;" placement="right" ngbTooltip="Refresh"> </button>
                                 </div>
                            </div>
                            <div class="col-md-6 offset-md-3" style="text-align:center;" *ngIf="deleteField">
                                <h5 class="successmsg">Group Deleted successfully!</h5>
                              </div>
                              <div class="col-md-6 offset-md-3" style="text-align:center;" *ngIf="authenticationError">
                                <h5 class="errormsg">Something went wrong. Please try again !</h5>
                              </div>
                           

                            <div class="table-responsive">
                                <table class="table table-sm table-bordered table-hover">
                                    <thead>
                                        <tr class="table-info">
                                            <th>Sr.No.</th>
                                            <th>Group Name</th>
                                            <th>Abbrivation</th>
                                            <th>Created By</th>
                                            <th>Date</th>
                                            <th style="text-align: center;">Action</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr class="table-info" *ngFor="let group of grouplist | datafilter:filter | slice:(page-1)*limit:page*limit;let i=index;">
                                            <td>{{i+1}}</td>
                                            <td>{{group.contactGroupName}}</td>
                                            <td>{{group.abbreviation}}</td>
                                            <td>{{group.loginId.loginId}}
                                                <td>{{group.createDate | date:'short'}}</td>

                                                <td style="text-align: center;">
                                                    <i *ngIf="loginId.viewcontactGroupView" class="fa fa-eye" data-toggle="tooltip" title="View Group Details" style="color:black;font-size:20px;"
                                                        (click)="getOneGroupContactList(group)"></i>&nbsp;

                                                    <i *ngIf="loginId.addcontactGroupView" class="fa fa-plus-square" data-toggle="tooltip" title="Add Phone Directory To ContactGroup"
                                                        style="color:Blue;font-size:20px;" (click)="showContactList(group)"></i>&nbsp;

                                                    <i *ngIf="loginId.modifycontactGroupView" class="fa fa-pencil-square-o" data-toggle="tooltip" title="Edit Contact Group"
                                                        style="color:green;font-size:20px;" (click)="OpenModel(group,updateModal)"></i>&nbsp;
                                                    <!-- <i *ngIf="loginId.deletecontactGroupView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete ContactGroup" style="color:red;font-size:20px;"
                                                (click)="removeGroup(group)"></i> -->
                                                    <i *ngIf="loginId.deletecontactGroupView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete Group" style="color:red;font-size:20px;"
                                                        (click)="open(group,deleteModal)"></i>


                                                </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <div class="btn-group" role="group">
                                      <button type="button" class="btn btn-primary btn-sm">
                                        Page {{pageNumber}}/{{totalPage}}
                                      </button> &nbsp;
                                      <button type="button" class="btn btn-primary btn-sm" (click)="setPagePrev(1,$event)" >First</button>
                                      &nbsp;
                                      <button type="button" class="btn btn-primary btn-sm" (click)="setPagePrev(pageNumber,$event)" >Previous</button>
                                      &nbsp;
                                      <input type="number" class="form-control-sm" name="size" [(ngModel)]=pageInfo.size  #size="ngModel" style="width:100px">
                                      &nbsp;
                                      <button type="button" class="btn btn-primary btn-sm" (click)="setPageNext(pageNumber,$event)" >Next</button>
                                      &nbsp;
                                      <button type="button" class="btn btn-primary btn-sm" (click)="setPageNext(totalPage,$event)">Last</button>
                                    </div>
                                  </div>
                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- -------------------------------------------------------------------ADD Contact----------------------------------------------------------------- -->

    <div class="row" *ngIf="this.contactListforGroup_condition">
        <div class="col-sm-12" *ngIf="!this.AllGroup">
            <div class="card h-100 text-black bg-secondary" style="margin-top:20px;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-11">
                            <h5 style="text-align:center;">ADD Contact</h5>
                        </div>
                        <div class="col-sm-1 text-right">
                            <span  class="badge badge-pill badge-danger  text-right;">{{numberOfData}} </span>
                          </div>
                    </div>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="submit" #formControl="ngForm">
                        <div class="form-group row">
                            <!-- <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
                                <div class="col-sm-8 form-inline">
                                    <label class="col-sm-1 col-sm-form-label form-control-sm "><b>Search:</b></label>
                                    <input type="text" class="form-control col-sm-3 form-control-sm" name="name" [(ngModel)]="filter.name" placeholder="Contact name">&nbsp;&nbsp;&nbsp;
                                    <input type="text" class="form-control col-sm-3 form-control-sm" name="mobileNo1" [(ngModel)]="filter.mobileNo1" placeholder="Contact number">


                                </div>
                                <div class="col-sm-2 form-inline">
                                    <label for="limit" class="col-sm-6 col-sm-form-label form-control-sm "><b>Limit:</b></label>
                                    <input type="number" class="form-control col-sm-6 form-control-sm" name="limit" [(ngModel)]="limit" min="1" [attr.max]="[numberOfData]"
                                        step="1" placeholder="Limit">
                                </div>
                                <div class="col-sm-2 form-inline">
                                    <label for="page" class="col-sm-6 col-sm-form-label form-control-sm "><b>Page:</b></label>
                                    <input type="number" class="form-control col-sm-6 form-control-sm" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfData]"
                                        step="1" placeholder="Page">
                                </div>



                            </div> -->


                            <!--  add group from other location   -->
                            <div  class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
                                <div class="col-sm-4 form-inline">
                                    <label class="col-sm-6 col-sm-form-label form-control-sm "><b>Location Name : </b></label>
                                    <select  class="custom-select custom-select-sm col-sm-6" name="locationName" [(ngModel)]="find.locationName"
                                    #locationName="ngModel">
                                    <option value="{{choose}}">Choose One Location</option>
                                    <option value="{{location.locationName}}" *ngFor="let location of locationList">{{location.locationName}}</option>
            
                                  </select>

                                </div>
                                <div class="col-sm-3 form-inline">
                                    <label for="limit" class="col-sm-4 col-sm-form-label form-control-sm "><b>Mobile : </b></label>
                                    <input type="text" class="form-control col-sm-8 form-control-sm" name="mobile" [(ngModel)]="find.mobile">
                                </div>
                                <div class="col-sm-3 form-inline">
                                    <label for="page" class="col-sm-4 col-sm-form-label form-control-sm "><b>Name : </b></label>
                                    <input type="text" class="form-control col-sm-8 form-control-sm" name="name" [(ngModel)]="find.name" #name=ngModel>
                                </div>
                                <div class="col-sm-2 form-inline">
                                    <button class="btn-sm btn-success" (click)="findLocationWiseContact()">Search</button>
                                </div>



                            </div>

                <!--   end add group from other location   -->



                            <div class="table-responsive">
                                <table class="table table-sm table-bordered table-hover" *ngIf="!NoContactFilter">
                                    <thead>
                                        <tr class="table-info">
                                            <th>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="allCheck" name="selectAll" (change)="selectAllChecked($event);" [(ngModel)]="allChecked">
                                                    <label class="custom-control-label" for="allCheck"></label>
                                                </div>
                                            </th>
                                            <th>Sr.No.</th>
                                            <th>Emp_Id</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                           
                                            <!-- <th>Email</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-info" *ngFor="let contact of filterPhoneDirectory | datafilter:filter  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index; let first = first; let last = last;">
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" [(ngModel)]="contact.selected" id="idcheck{{i}}" value="{{contact}}"
                                                        name="nameCheck[{{i}}]" (change)="changeCheck($event,contact)">
                                                    <label class="custom-control-label" for="idcheck{{i}}"></label>
                                                </div>
                                                <!-- <label class="checkbox-inline">
                                                    <input type="checkbox" value="{{contact}}" name="nameCheck[{{i}}]" id="idcheck{{i}}" (change)="changeCheck($event,contact)"> -->
                                                <!-- <input [(ngModel)]="checkboxValue" (change)="newFunction()" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> -->
                                                <!-- </label> -->
                                            </td>
                                            <td>{{i+1}}
                                                <td>{{contact.contactId}}</td>
                                                <td>{{contact.name}}</td>
                                                <td>{{contact.mobileNo1}}</td>
                                                
                                                <!-- <td>{{contact.emailId}}</td> -->
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center" style="background-color: rgb(190, 229, 235);">
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </div>
                                <div style="text-align: center;" *ngIf="noDataFound">
                                    <h6 class="errormsg">No Data Found!</h6>
                                </div>
                            </div>
                            
                        </div>

                        <div style="text-align: center;" *ngIf="NoContactFilter">
                            <h6 class="errormsg">No Data Found!</h6>
                        </div>
                          <div style="text-align: center;" *ngIf="authenticationError">
                            <h6 class="errormsg">Something went wrong. Please try again!</h6>
                        </div>

                        <div class="row justify-content-center">
                            <div style="margin:10px;">
                                <button type="save" class="btn btn-sm btn-primary mt-2 mt-sm-0" [disabled]="disabled" (click)="addContact_In_Group()"> Add </button>
                                <button type="back" class="btn btn-sm btn-success mt-2 mt-sm-0" (click)="BackContactGroupList()">Back</button>
                            </div>
                        </div>
                        <!-- <div style="text-align: center;" *ngIf="NoContactFilter">
                            <h5 class="errormsg">
                                No Data found!
                            </h5>
                        </div> -->
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- --------------------------------------------------------------All Group------------------------------------------------------------------ -->
    <div class="row" *ngIf="!this.contactListforGroup_condition">
        <div class="row" *ngIf="this.AllGroup">
            <div class="col-sm-11">
                <div class="card h-100 text-black bg-secondary" style="margin-top:20px;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-11">
                                <h5 style="text-align:center;">Report OF {{currentGroup}} Group</h5>
                            </div>
                            <div class="col-sm-1 text-right">
                                <span  class="badge badge-pill badge-danger  text-right;">{{numberOfData}} </span>
                              </div>

                        </div>
                    </div>
                    <div style="text-align: center;" *ngIf="successField">
                        <h5 class="successmsg">
                            Added Successfully!
                        </h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
                                    <div class="col-sm-8 form-inline">
                                        <label class="col-sm-1 col-sm-form-label form-control-sm "><b>Search:</b></label>
                                        <input type="text" class="form-control col-sm-3 form-control-sm" name="name" [(ngModel)]="filter.name" placeholder="Contact name">&nbsp;&nbsp;&nbsp;
                                        <input type="text" class="form-control col-sm-3 form-control-sm" name="mobileNo1" [(ngModel)]="filter.mobileNo1" placeholder="Contact number">


                                    </div>
                                    <div class="col-sm-2 form-inline">
                                        <label for="limit" class="col-sm-6 col-sm-form-label form-control-sm "><b>Limit:</b></label>
                                        <input type="number" class="form-control col-sm-6 form-control-sm" name="limit" [(ngModel)]="limit" min="1" [attr.max]="[numberOfData]"
                                            step="1" placeholder="Limit">
                                    </div>
                                    <div class="col-sm-2 form-inline">
                                        <label for="page" class="col-sm-6 col-sm-form-label form-control-sm "><b>Page:</b></label>
                                        <input type="number" class="form-control col-sm-6 form-control-sm" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfData]"
                                            step="1" placeholder="Page">
                                    </div>



                                </div>

                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-hover">
                                        <thead>
                                            <tr class="table-info">

                                                <th>Sr.No.</th>
                                                <th>Emp_Id</th>
                                                <th>Name</th>
                                                <th>Mobile</th>
                                                
                                                <!-- <th>Email</th> -->
                                                <th *ngIf="removebtnhide" style="text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- | datafilter:filter | slice:(page-1)*limit:page*limit;let i=index; -->
                                            <tr class="table-info" *ngFor="let phoneDirectory of oneGroupContactList| datafilter:filter | slice:(page-1)*limit:page*limit;let i=index;">
                                                <td>{{i+1}}</td>
                                                <td>{{phoneDirectory.contactId}}</td>
                                                <td>{{phoneDirectory.name}}</td>
                                                <td>{{phoneDirectory.mobileNo1}}</td>
                                               
                                                <!-- <td>{{phoneDirectory.emailId}}</td> -->
                                                <td style="text-align: center;"  *ngIf="removebtnhide">
                                                    <!-- <button type="remove" class="btn btn-sm btn-danger mt-2 mt-sm-0" (click)="removeContactFromGroup(phoneDirectory.contactId)">
                                                    Remove </button> -->
                                                    <i class="fa fa-trash-o" data-toggle="tooltip" *ngIf="removebtnhide" title="Delete ContactGroup" style="color:red;font-size:20px;"
                                                        (click)="removeContactFromGroup(phoneDirectory.contactId)"></i>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div style="text-align: center;" *ngIf="noContactGroupFound">
                                <h6 class="errormsg">No Data Found!</h6>
                            </div>
                        </form>

                    </div>

                    <!-- <div *ngIf="deletesuccess"  class="row justify-content-center">
                        <h6 >data successfully updated  <button (click)="getOneGroupContactList(tempgroup1)">clikc here </button> for details</h6>
                        
                </div> -->

                    <div class="row justify-content-center">
                        <div style="margin:10px;">
                            <button type="hide" class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="BackContactGroupList()"> Back </button>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
<!-- ---------------------------------------------Update Group------------------------------------------------------ -->

<ng-template #updateModal>
    <div class="modal-content ">
        <div class="modal-header " style="background-color:lightblue;text-align:center">

            <div class="col-sm-10">
                <h5 class="modal-title">Update Group</h5>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-info btn-sm" (click)="closeModel()">close</button>
            </div>

        </div>
        <div class="modal-body">
            <form (ngSubmit)="submit" #formControl="ngForm">
                <!-- <div class="form-group">
                  <label>Name : </label>
                  <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="name{{i}}" [(ngModel)]="contactGroup.name"
                    #name="ngModel">
                </div> -->

                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-sm-form-label form-control-sm "> Group Name
                    </label>
                    <div class="col-sm-6" [ngClass]="{ 'has-danger': contactGroupName.invalid && (contactGroupName.dirty || contactGroupName.touched),
                                                   'has-success': contactGroupName.valid && (contactGroupName.dirty || contactGroupName.touched)}">
                        <input class="form-control form-control-sm" type="text" name="contactGroupName{{i}}" #contactGroupName="ngModel" [(ngModel)]="contactGroup.contactGroupName"
                             required>
                        <div class="form-control-feedback" *ngIf="contactGroupName.errors && (contactGroupName.dirty || contactGroupName.touched)">

                            <p *ngIf="contactGroupName.errors.required">Group Name is required.</p>
                            <!-- <p *ngIf="contactGroupName.errors.pattern">Invalid Name.</p> pattern="^[a-zA-Z0-9_@ ]*$"  -->

                        </div>
                    </div>
                </div>



                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-sm-form-label form-control-sm "> Abbrivation
                    </label>
                    <div class="col-sm-6" [ngClass]="{
                    'has-danger': abbreviation.invalid && (abbreviation.dirty || abbreviation.touched),
                    'has-success': abbreviation.valid && (abbreviation.dirty || abbreviation.touched)}">
                        <input class="form-control form-control-sm" type="text" name="abbreviation" #abbreviation="ngModel" [(ngModel)]="contactGroup.abbreviation"
                            required>
                        <div class="form-control-feedback" *ngIf="abbreviation.errors && (abbreviation.dirty || abbreviation.touched)">

                            <p *ngIf="abbreviation.errors.required">Abbrivation is required.</p>
                            <!-- <p *ngIf="abbreviation.errors.pattern">Invalid Name.</p> pattern="^[a-zA-Z0-9_@ ]*$" -->

                        </div>
                    </div>
                </div>

            </form>

            <div class="form-group" style="text-align:center;">
                <button type="button" class="btn btn-info btn-sm" [disabled]="!formControl.valid" (click)="updateContactGroup()">Update</button>

            </div>
            <div *ngIf="successEdit" style="text-align:center;">
                <h6 class="successmsg">Contact Group Updated successfully !</h6>
            </div>
            <div *ngIf="authenticationError" style="text-align:center;">
                <h6 class="errormsg">Oops..Something went wrong. Please try again !</h6>
            </div>
        </div>



    </div>

</ng-template>

<!-- -----------------------------------Delete Group------------------------------------- -->

<ng-template #deleteModal let-c="close" let-d="dismiss">

    <div class="modal-content" style="background-color: khaki;">
        <form (ngSubmit)="submit" #formControl="ngForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                        <h5 style="color:green; text-align: center"> Are You Sure Want To Delete {{group.contactGroupName}}</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-center">
                    <div class="col-sm-12" style="margin-right: 127px;">
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeGroup(group)">Yes</button>
                        <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>



<!-- <button (click)="findLocationWiseContact()"> sdfsdfsadfsafsdclick</button> -->