<app-menu></app-menu>
<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#f4696b" type="ball-atom"></ngx-spinner>

<div class="container">

  <div class="row" style="padding:20px">

    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card  border-primaryg-info text-black">
        <div class="card-header">
          <h5 style="text-align:center"> Instant Voice Message </h5>
        </div>

        <div class="card-body">
          <form ngForm="instantsms" (ngSubmit)="saveInstaceVoiceMessage()">
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm ">
                Phone Directory
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select [style.border]="errorborder" class="custom-select custom-select-sm" style="height:80px;" multiple data-actions-box="true" name="phoneDirectory"
                  [(ngModel)]="sms.phoneDirectory" #phoneDirectory="ngModel" (change)="checkRequired()">
                  <option *ngFor="let phoneDirectory of phoneDirctoryList;let i=index;">
                    {{phoneDirectory.mobileNo1}}
                  </option>

                </select>

              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm "> Contact Group
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select [style.border]="errorborder" class="custom-select custom-select-sm" style="height:80px;" multiple data-actions-box="true" name="contactGroup"
                  [(ngModel)]="sms.contactGroup" #contactGroup="ngModel" (change)="checkRequired()">
                  <option *ngFor="let contact of contactGroupList"> {{contact.contactGroupName}} </option>

                </select>

              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm "> Department
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select [style.border]="errorborder" class="custom-select custom-select-sm" style="height:80px;" multiple data-actions-box="true" name="departments" [(ngModel)]="sms.departments"
                  #departments="ngModel" (change)="checkRequired()">
                  <option *ngFor="let department of departmentList"> {{department.departmentName}}</option>

                </select>
                <div class="form-control-feedback">
                  <p *ngIf="chooseOne">{{requiredMsg}}</p>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm"> Enter Number
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <input [style.border]="errorborder" class="form-control form-control-sm" type="text" name="mobile" [(ngModel)]="sms.mobile" #mobile="ngModel" (change)="checkRequired()">
                <p class="instruction"> (Commo Separated Numbers)</p>
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                Message Name
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select [style.border]="errorborder" class="custom-select custom-select-sm" name="messageName" [(ngModel)]="sms.messageName" #messageName="ngModel" (change)="checkRequired()">
                  <option selected>Choose One...</option>
                  <option *ngFor="let sms of smsList">{{sms.smsName}}</option>

                </select>
              </div>
            </div>

            <!-- <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                Message
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <textarea [style.border]="errorborder" put class="form-control form-control-sm" name="message" [(ngModel)]="sms.message" #message=ngModel (keypress)="doCount()" (change)="checkRequired()"></textarea>
                <div class="form-control-feedback">
                  <p *ngIf="messageSelect">{{requiredMsg}}</p>
                </div>
              </div>
              
            </div> -->

            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                Priority
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select class="form-control"  class="custom-select custom-select-sm" [(ngModel)]="smsPriority"  name="smsPriority" >
                  <option *ngFor="let smsPriority of smsPriorities"
                           [value]="smsPriority.value"> 
                           {{smsPriority.priority}} 
                   </option>
                 </select>
                
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm "> Schedule Date
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <input type="date" class="form-control form-control-sm" name="scheduleDate" [(ngModel)]="sms.scheduleDate" #scheduleDate="ngModel">
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                Schedule Type
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <!-- <select class="custom-select custom-select-sm"  name="scheduleType" [(ngModel)]="sms.scheduleType" #scheduleType="ngModel">
                 <option ng-selected="scheduleType" value="oneTime">OneTime</option>
                  <option value="daily">Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
                </select> -->

                <!-- <select [(ngModel)]="sms.scheduleType" name="scheduleType" class="form-control input-sm" #scheduleType="ngModel" style="width:150px;" required>
                  <option  [value]="0">Select</option>
                  <option *ngFor="let scheduleType of scheduleTypes" [value]="scheduleType.value">{{scheduleType.name}}</option>
              </select> -->
<!-- 
              <select class="form-control" class="custom-select custom-select-sm">
                <option value="">Please select a language</option>
                <option *ngFor="let scheduleType of scheduleTypes" [value]="scheduleType.value"> 
                    {{scheduleType.type}} 
                </option>
              </select> -->
              <select class="form-control"  class="custom-select custom-select-sm" [(ngModel)]="scheduleType"  name="scheduleType" >
               <option *ngFor="let schedule of scheduleTypes"
                        [value]="schedule.value"> 
                        {{schedule.scheduleType}} 
                </option>
              </select>
              </div>  
            </div>

           

            <!-- <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                Client ID
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select class="custom-select custom-select-sm">
                  <option value="1">Yss 1</option>
                  <option value="2">Yss 2</option>
                  <option value="3">yss 2</option>
                </select>
              </div>
            </div> -->

           




            <div class="row justify-content-center">
              <div style="margin:10px;">
                <button type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0"> Send </button>
              </div>
              <div style="margin:10px;">
                <button type="reset" class="btn btn-sm btn-danger mt-2 mt-sm-0"> Reset </button>
              </div>

            </div>
            <div style="text-align: center;" *ngIf="successField">
              <h6 class="successmsg">
                SMS Send Successfully!
              </h6>
            </div>
            <div style="text-align: center;" *ngIf="authenticationError">
              <h6 class="errormsg">Something went wrong. Please try again!</h6>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-1" *ngFor="let mobile of duplicatList ">{{mobile.mobileNo1}}</div>
</div>