<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="margin-top: 5px; 

background-size:cover;
overflow:hidden;" *ngIf="!appRunning">
	<header>
		<div class="row text-center">
			<!-- <div class="col-sm-1"></div> -->
			<div class="col-sm-4">
				<a outerLink="/home">
					<img border="0" src="../assets/images/ntpc.png" align="left" alt="Ntpc Messaging Portal" title="Ntpc Messaging Portal" />
				</a>

				<p class="text-right font-arial font-weight-bold" style="font-size: 16px; margin: -2px 132px -5px 0px;  color: black;">NTPC Limited</p>
				<p class="text-right font-arial" style="font-size:16px;font-weight: bold; margin: 1px 115px 0px 0px;  color: black;">एनटीपीसी लिमिटेड</p>
			</div>



			<div class="col-sm-4" style="font-family: verdana; color: navy;">
				<p class="text-center font-weight-bold" style="font-family: verdana; font-size: 16px; margin: 0px -14px -2px 5px;">
					NTPC MESSAGING PORTAL
				</p>
				<!-- <p class="text-center font-arial" style="margin-top: 0;margin-bottom: 0rem;">
							NTPC Messaging Portal
						</p> -->
				<p class="text-center font-arial" style="font-size: 13px; font-weight: bold; color:black ;padding-left:17px;">Instant Messaging Services</p>

			</div>
			<div class="col-sm-4">
				<p class="text-right font-arial font-weight-bold" style="font-size: 14px; margin: 1px 81px 3px 0px;  color: black;">{{now | date :'mediumTime'}}</p>
				<p class="text-right font-arial font-weight-bold" style="font-size: 14px; margin: -5px 0px 0px 0px;  color: black;"> {{now | date :'fullDate'}}</p>

			</div>

		</div>
	</header>
	<!-- <div class="card card-container">
		<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
		<p id="profile-name" class="profile-name-card"></p>

		<form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
			<div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
			<span id="reauth-email" class="reauth-email"></span>
			<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username" pattern="[^ @]*@[^ @]*" [(ngModel)]="user.username"
				 #username="ngModel" required />
				<div *ngIf="f.submitted && !username.valid" class="help-block">an valid email is required</div>
			</div>
			<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel"
				 required />
				<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
			</div>
			<div id="remember" class="checkbox">

			</div>
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
		</form>
		<a [routerLink]="['/register']" class="btn btn-link">Create new Account!</a>
	</div> -->
	<!-- /card-container -->
	<router-outlet></router-outlet>
	<footer>
		<p class="text-center" style="bottom: 0;width: 100%;">Powered By: Copyright @
			<a href="http://www.ysssolutions.net/" style="color: black; font-family: fantasy;">YSS SOFTECH PVT LTD </a>&nbsp;{{ now | date :'yyyy'}}
		</p>
	</footer>
</div>
<!-- /container -->

<!-- <br>
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a outerLink="/home">
					<img border="0" src="../assets/images/ntpc.png" align="left" alt="Ntpc Messaging Portal" title="Ntpc Messaging Portal" />
				</a>

				<p class="text-right font-arial font-weight-bold" style="font-size: 16px; margin: -2px 132px -5px 0px;  color: black;">NTPC Limited</p>
				<p class="text-right font-arial" style="font-size:16px;font-weight: bold; margin: 1px 115px 0px 0px;  color: black;">एनटीपीसी लिमिटेड</p>
			</div>



			<div class="col-sm-4" style="font-family: verdana; color: navy;">
				<p class="text-center font-weight-bold" style="font-family: verdana; font-size: 16px; margin: 0px -14px -2px 5px;">
					NTPC MESSAGING PORTAL
				</p>
				<p class="text-center font-arial" style="font-size: 13px; font-weight: bold; color:deeppink ;padding-left:17px;">Instant Messaging Services</p>
			</div>
			<div class="col-sm-4">
				<p class="text-right font-arial font-weight-bold" style="font-size: 14px; margin: 1px 54px 3px 0px;  color: black;">{{now | date :'mediumTime'}}</p>
				<p class="text-right font-arial font-weight-bold" style="font-size: 14px; margin: -5px 0px 0px 0px;  color: black;"> {{now | date :'fullDate'}}</p>

			</div>

		</div>
	</div>
</div>


<hr style="border: 1px solid blue"> -->

<!-- <router-outlet></router-outlet> -->


<!-- <div class="container-fluid" style="margin-top:1%"> -->

<!-- <footer style="text-align:center;"> -->
<!-- <div class="footer-copyright"> -->
<!-- <div class="container-fluid"> -->
<!-- Powered By: Copyright @
				<a href="http://www.ysssolutions.net/" style="color: black; font-family: fantasy;">YSS SOFTECH PVT LTD </a>&nbsp;{{ now | date :'yyyy'}} -->
<!-- </div> -->
<!-- </div> -->
<!-- </footer> -->

<!-- <div class="footer">
		<p>Powered By:
			<a href="http://www.ysssolutions.net/" style="color: black; font-family: fantasy;"> YSS SOFTECH PVT LTD
			</a>
		</p>
	</div> -->
<!-- </div> -->

<!-- <p  *ngIf="!appRunning">System Error !! <br> Application has Failed to be start.code ox804f05 </p> -->