<app-menu></app-menu>
<div class="container">
    <div class="row justify-content-center" style="padding:20px">


        <div class="col-sm-8">
            <div class="card ">
                <div class="card-header">
                    <h5 style="text-align:center;"> SMTP Mail Configuration </h5>
                </div>

                <div class="card-body ">
                    <form (ngSubmit)="onSubmit()" #mailForm="ngForm">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-4 col-form-label col-form-label-sm" style="margin-left:5px;">SMTP Mail Server
                                <span class="req" style="color: Red">*</span>
                            </label>
                            <div class="col-sm-5">
                                <input class="form-control form-control-sm" type="text" name="smtpServer" [(ngModel)]="mail.smtpServer" #smtpServer="ngModel">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-4 col-form-label col-form-label-sm" style="margin-left:5px;">SMTP Port (Outgoing)
                                <span class="req" style="color: Red">*</span>
                            </label>
                            <div class="col-sm-5">
                                <input class="form-control form-control-sm" type="text" name="smtpPort" [(ngModel)]="mail.smtpPort" #smtpPort="ngModel">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-4 col-form-label col-form-label-sm" style="margin-left:5px;">Sender Mail Id
                                <span class="req" style="color: Red">*</span>
                            </label>
                            <div class="col-sm-5">
                                <input class="form-control form-control-sm" type="text" name="senderMailId" [(ngModel)]="mail.senderMailId" #senderMailId="ngModel">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-4 col-form-label col-form-label-sm" style="margin-left:5px;">Password
                                <span class="req" style="color: Red">*</span>
                            </label>
                            <div class="col-sm-5">
                                <input class="form-control form-control-sm" type="password" name="senderPassword" [(ngModel)]="mail.senderPassword" #senderPassword="ngModel">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-4 col-form-label-sm col-form-label" style="margin-left:5px;">Subject
                                <span class="req" style="color: Red">*</span>
                            </label>
                            <div class="col-sm-5">
                                <input class="form-control form-control-sm" type="text" name="subject" [(ngModel)]="mail.subject" #subject="ngModel">
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div style="margin:10px;">
                                <button class="btn btn-success btn-sm btn-block"> Save </button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>



    <div class="row" *ngIf="getAllMailConfig">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="table-info">
                        <th style="text-align: left;">S.No.</th>
                        <th style="text-align: left;">SMTP Server</th>
                        <th style="text-align: left;">SMTP Port</th>
                        <th style="text-align: left;">Sender Mail</th>
                        <th style="text-align: center;">Subject</th>
                        <th style="text-align: center;">User</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>

                <tbody>

                    <tr class="table-info" *ngFor="let mail of mailList;let id=index;">
                        <td style="text-align: left;">{{id+1}}</td>
                        <td style="text-align: left;">{{mail.smtpServer}}</td>
                        <td style="text-align: left;">{{mail.smtpPort}}</td>
                        <td style="text-align: left;">{{mail.senderMailId}}</td>
                        <td style="text-align: center;">{{mail.subject}}</td>
                        <td style="text-align: center;">{{mail.loginId.loginId}}</td>
                        <td style="text-align: center;">
                            <i class="fa fa-pencil-square-o" data-toggle="tooltip" title="Update " style="color:Blue;font-size:20px;" (click)="update(mail)"></i>
                            &nbsp;&nbsp;&nbsp;
                            <i class="fa fa-trash-o" data-toggle="tooltip" title="Delete" style="color:red;font-size:20px;" (click)="delete(mail.id)"></i>

                        </td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>