<app-menu></app-menu>

<div class="container justify-content-center" >
    <div class="row justify-content-center" style="padding-top:20px">
            <button class="btn btn-primary justify-content-center btn-sm" style="margin-top:100px">Backup Data</button>
            </div>
            <div class="row justify-content-center" style="padding-top:20px">
            <p>
              This feature archives the data related to customer records and all reports. 
                The information is stored in the excel file system at <br>
                C:\SMS Backup\Backup On Current Date-Time.
            </p>
    </div>
      
</div>
 
