/* .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
    top:200px;
  }
  .dark-modal .close {
    color: white;   
  } */

  .custom-class {
    position: absolute;
    top:30%;
    
  }


  .modal-content {
    position: relative;
    width: 100%;
    pointer-events: auto;
    background-color: snow;
    background-clip: border-box;
    border: 1px solid forestgreen;
 
 
}