/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";  
@import "~ng-pick-datetime/assets/style/picker.min.css";
.mat-card {    
    text-align: -webkit-center;    
}    
    
.demo-toolbar {    
    display: flex;    
    align-items: center;    
    width: 100%;    
}    
    
.demo-form {    
    min-width: 150px;    
    max-width: 500px;    
    width: 100%;    
}    
    
.demo-full-width {    
    width: 100%;    
}    
    
body {    
    margin: 0;    
    font-family: Roboto, sans-serif;    
}    
    
mat-card {    
    max-width: 80%;    
    margin: 2em auto;    
    text-align: center;    
}    
    
mat-toolbar-row {    
    justify-content: space-between;    
}    
    
.done {    
    position: fixed;    
    bottom: 20px;    
    right: 20px;    
    color: white;    
}    
    
.content-center {    
    text-align: -webkit-center;    
}    


/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@media (min-width:768px)
{

.instruction{
    
    font-family: monospace;
}

div.card-header{
    background:lightblue;
}

li.nav-item{
    margin-left: 2%;
}
}

option{
    font-size: 14px;
}

.successmsg{
    font-family: initial;
    color:darkgreen;
}
.errormsg{
    font-family: initial;
    color:red;
}

.form-control-feedback{
    color: red!important;
    font-size: 12px;
}



input.ng-valid.ng-touched {
    border-left: 5px solid green;
    /* border:1px solid green; */
  }
  
  input.ng-invalid.ng-touched  {
    border-left: 5px solid red;
    /* border:1px solid red; */
  }

 