<app-menu></app-menu>

<div class="container">

  <div class="row" style="padding:20px">

    <div class="col-sm-2"></div>
    <div class="col-sm-7">
      <div class="card  border-primaryg-info text-black">
        <div class="card-header">
          <h6 class="card-title" class="text-center"> Total Pull Report </h6>
        </div>

        <div class="card-body">
          <form>
              <div class="form-group row" style="margin-left: 5%;">
                  <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm"> From
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="col-sm-5">
                    <input class="form-control form-control-sm" type="date">
                  </div>
                </div>
                <div class="form-group row" style="margin-left: 5%;">
                  <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm"> To
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="col-sm-5">
                    <input class="form-control form-control-sm" type="date">
                  </div>
                </div>
                
              <div class="form-group row" style="margin-left: 5%;">
                  <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                    Message(Type) </label>
                  <div class="col-sm-5">
                    <select class="custom-select custom-select-sm">
                      <option selected>Choose One...</option>
                      <option value="1">Yss 1</option>
                      <option value="2">Yss 2</option>
                      <option value="3">yss 2</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row" style="margin-left: 5%;">
                    <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                      Message (Town) </label>
                    <div class="col-sm-5">
                      <select class="custom-select custom-select-sm">
                        <option selected>Choose One...</option>
                        <option value="1">Yss 1</option>
                        <option value="2">Yss 2</option>
                        <option value="3">yss 2</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row" style="margin-left: 5%;">
                      <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                        Message(Exceutive) </label>
                      <div class="col-sm-5">
                        <select class="custom-select custom-select-sm">
                          <option selected>Choose One...</option>
                          <option value="1">Yss 1</option>
                          <option value="2">Yss 2</option>
                          <option value="3">yss 2</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row" style="margin-left: 5%;">
                        <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm">
                          Message (Keyword) </label>
                        <div class="col-sm-5">
                          <select class="custom-select custom-select-sm">
                            <option selected>Choose One...</option>
                            <option value="1">Yss 1</option>
                            <option value="2">Yss 2</option>
                            <option value="3">yss 2</option>
                          </select>
                        </div>
                      </div>



            <div class="row justify-content-center">
              <div class="col-sm-3">
                <button class="btn btn-default btn-sm btn-block"> Submit </button>
              </div>
              

            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>