<app-menu>
</app-menu>
<div class="container">
    <div class="row" style="padding:20px">

        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5 style="text-align:center">Create Client Id </h5>
                </div>

                <div class="card-body">
                    <form action="/html/tags/html_form_tag_action.cfm" class="form-inline">
                        <label class="mr-sm-2 mb-0 col-sm-form-label form-control-sm" for="first_name"> Client Id
                            <span class="req" style="color: Red">*</span>
                        </label>
                        <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" id="first_name" name="first_name">
                        <label class="mr-sm-2 mb-0 col-sm-form-label form-control-sm" for="last_name"> Description
                            <span class="req" style="color: Red">*</span>
                        </label>
                        <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" id="last_name" name="last_name">
                        <button type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center;">Client Id</th>
                        <th style="text-align: center;">Description</th>
                        <th style="text-align: center;">User Id</th>
                        <th style="text-align: center;">Date</th>
                        <th style="text-align: center;">Time</th>
                        <th style="text-align: center;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">ddddddd</td>
                        <td style="text-align: center;">ddddddd</td>
                        <td style="text-align: center;">ddddddd</td>
                        <td style="text-align: center;">ddddddd</td>
                        <td style="text-align: center;">ddddddd</td>
                        <td style="text-align: center;">
                            <a href="addLocation" class="card-link" data-toggle="tooltip" title="Delete Department">
                                <span class="badge badge-pill badge-danger">Delete</span>
                               
                            </a>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>