<app-menu></app-menu>
<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>

<div class="container">
  <div class="row" style="padding:20px" *ngIf="isAdmin">

    <div class="col-sm-3"></div>
    <div class="col-sm-7">
      <div class="card">
        <div class="card-header">
          <h5 style="text-align:center">Reset User Password </h5>
        </div>

        <div class="card-body">

          <form #formControl="ngForm" (ngSubmit)="submit">
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm" style="margin-left:5px;">
                Select User
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-6 ">
                <select class="form-control form-control-sm" name="loginId" [(ngModel)]="user.loginId" #loginId="ngModel" required>
                  <option [disabled]="true" [value]="0">---------------Select---------------</option>
                  <option value="{{user.loginId}}" *ngFor="let user of userList">{{user.loginId}}</option>
                </select>
               
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm " style="margin-left:5px;" required>Create Password
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-6">
                <input class="form-control form-control-sm" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm" style="margin-left:5px;">Confirm Password
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-6">
                <input class="form-control form-control-sm" type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel"
                  required>
                <p *ngIf="checkErrorResult" class="errormsg">Create and Confirm password does not matched.</p>

                
              </div>
            </div>
            <div *ngIf="checkSuccesResult" class="row justify-content-center">
              <p class="successmsg">Password Successfully saved</p>
            </div>
            <div class="row justify-content-center">

              <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-danger mt-2 mt-sm-0" [disabled]="!formControl.valid" (click)="resetPassword()"> Reset Password </button>
              </div>

            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <br>

  <div class="row" style="padding:20px" *ngIf="isUser">

    <div class="col-sm-3"></div>
    <div class="col-sm-7">
      <div class="card">
        <div class="card-header">
          <h5 style="text-align:center">Change Password </h5>
        </div>

        <div class="card-body">
          <form (ngSubmit)="submit" #formControl="ngForm">
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm" style="margin-left:5px;">Password
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-6" [ngClass]="{
                'has-danger': oldpassword.invalid && (oldpassword.dirty || oldpassword.touched),
                'has-success': oldpassword.valid && (oldpassword.dirty || oldpassword.touched)}">
                <input class="form-control form-control-sm" type="password" name="oldpassword" [(ngModel)]="user.oldpassword" #oldpassword="ngModel"
                  required>
                
                <p *ngIf="checkResult" class="errormsg">old password not matched </p>

              </div>

            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm " style="margin-left:5px;">New Password
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-6" [ngClass]="{
                'has-danger': password.invalid && (password.dirty || password.touched),
                'has-success': password.valid && (password.dirty || password.touched)}">
                <input class="form-control form-control-sm" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>

                
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm" style="margin-left:5px;">Confirm Password
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-6" [ngClass]="{
                'has-danger': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
                'has-success': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)}">
                <input class="form-control form-control-sm" type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel"
                  required>
                  
                <p *ngIf="checkErrorResult" class="errormsg">Create and Confirm password does not matched.</p>

              </div>
            </div>

            <div *ngIf="checkSuccesResult" class="row justify-content-center">
              <p class="successmsg">Password successfully changed</p>
            </div>
            <div class="row justify-content-center">
              <div style="margin:10px;">
                <button type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0" [disabled]="!formControl.valid" (click)="checkPassword()">
                Submit </button>
              </div>
              <div style="margin:10px;">
                <button type="reset" class="btn btn-sm btn-danger mt-2 mt-sm-0"> Reset </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>