<app-menu></app-menu>

<div class="container">

  <div class="row" style="padding:20px">

    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card  border-primaryg-info text-black">
        <div class="card-header">
          <h6 class="card-title" class="text-center"> Configure Keyword </h6>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label form-control-sm"> Keyword
                  <span class="req" style="color: Red">*</span> </label>
              <div class="col-8">
                <input class="form-control form-control-sm" type="text">
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label form-control-sm"> Email 
                  <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-8">
                <input class="form-control form-control-sm" type="text" >
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label form-control-sm">
                Message 
                <span class="req" style="color: Red">*</span></label>
              <div class="col-8">
                <textarea put class="form-control form-control-sm" ></textarea>
                <p class="instruction">(Message more than 160 characters would be broken into two SMS)</p>
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input " class="col-3 col-form-label form-control-sm">Acknowledge <br> (By SMS)</label>
              <div class="col-8">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1"></label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input " class="col-3 col-form-label form-control-sm"> Acknowledge <br> (By Voice)</label>
              
              <div class="col-8">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                  <label class="custom-control-label" for="customCheck2"></label>
                </div>
              </div>
            </div>



            <div class="row justify-content-center">
              <div class="col-3">
                <button class="btn btn-default btn-sm btn-block"> Add </button>
              </div>
              <div class="col-3">
                  <button class="btn btn-default btn-sm btn-block"> View </button>
                </div>

            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>